body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    background: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header button {
    padding: 10px;
    background-color: #fff;
    color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-section, #exerciseDisplay, #summary {
    width: 100%;
    max-width: 800px;
}

.input-section input, .input-section button, .time-inputs input {
    margin: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.time-inputs {
    display: flex;
}

.time-inputs input {
    width: 70px;
}
